* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}
header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, serif;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(utahtechlogo.svg);
    background-position: right;
    padding-left: 1em;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: 0;
}
nav {
    font-weight: bold;
    background-color: #f3f3f3;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
h2 {
    color: #424242;
    font-family: Georgia, serif;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #ba1c21;
    font-weight: bold;
}
footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero {
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#studenthero {
    height: 300px;
    background-image: url(studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero {
    height: 300px;
    background-image: url(facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {text-decoration: none;}
#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}
#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}
footer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
main img {
    float: right;
    padding-left: 2rem;
}